@import "../abstracts/variables";
@import "../abstracts/mixins";
@import "../abstracts/animations";

.nav {
  height: 14vh;
  padding: 0 2vw 0 2vw;
  &__brand {
    font-family: "Noto Serif JP", serif;
  }

  &__brand span {
    font-size: 4.2rem;
    animation: floatBrand 3s ease-in-out 0.7s infinite;
  }

  $elements: 0.5;
  @for $i from 0 to 5 {
    &__brand span:nth-child(#{$i + 1}) {
      animation-delay: #{$i + 1}s;
    }
  }
}

// Media Queries===============================================

@include respond(tab-land) {
  // width < 1200?
  .nav {
    &__brand span {
      font-size: 4rem;
    }
  }
}

@include respond(tab-port) {
  // width < 900?
  .nav {
    &__brand span {
      font-size: 4.4rem;
    }
  }
}

@include respond(phone) {
  // width < 600?
  .nav {
    @include flex(row, center, center);
    margin-bottom: 4rem;
    &__brand span {
      font-size: 4.7rem;
    }
  }
}
