@import '../abstract/mixins';

.projects {
	width: 100vw;
	padding: 1.4rem;
	@include flex(column, space-evenly, center);
	&__more {
		margin: 0.4rem 0 0.4rem 0;
		text-decoration: none;
		font-size: 1.4rem;
		color: #ee6d85;
		&:hover {
			color: #fa395c;
		}
	}
	&__title {
		font-size: 2.8rem;
		margin-top: 1rem;
		align-self: start;
		font-weight: 500;
		white-space: nowrap;
		animation: nameEaseIn 3s ease-in-out 0.1s;
	}
	&__root {
		height: 77vh;
		width: 77vw;
		margin-bottom: 3.5rem;
		background-image: url('https://ucarecdn.com/a4e8e812-487b-4640-973b-13b2bf65a96f/ProjectBG.svg');
		background-position: center;
		background-size: cover;
		@include flex(row, none, center);
		&__image {
			height: 100%;
			width: 50%;
			object-fit: cover;
			@include flex(column, center, center);
			& > img {
				width: 90%;
				height: 90%;
				transition: ease-in-out 0.2s;
				&:hover {
					cursor: pointer;
				}
				&:active {
					transform: scale(1.25);
				}
			}
		}
		&__desc {
			height: 77%;
			width: 50%;
			padding: 1.4rem;
			@include flex(column, space-evenly, center);
			text-align: center;
			font-weight: 500;
			&__title {
				font-size: 2.1rem;
			}
			&__subtitle {
				font-size: 1.4rem;
				color: #777;
			}
			&__link {
				width: 56%;
				@include flex(row, space-evenly, center);
				& > a {
					margin: 1rem 0 1rem 0;
					text-decoration: none;
					font-size: 1rem;
					border-radius: 1.4rem;
					background-color: #e6e6e6;
					color: #ee6d85;
					padding: 0.5rem;
					transition: all ease-in 0.1s;
					&:hover {
						background-color: #aaaaaa;
						color: #ec5974;
						transform: translateY(-0.1rem);
					}
				}
			}
			&__icons {
				object-fit: cover;
				width: 100%;
				@include flex(row, space-evenly, center);
				& > img {
					height: 2.1rem;
					width: 2.1rem;
				}
			}
		}
	}
}

//  768 and Below ===================================================================================
@include respond(768) {
	.projects {
		padding: 0.7rem;
		&__more {
			margin: 0;
			font-size: 1rem;
		}
		&__title {
			font-size: 2.2rem;
			margin-top: 1rem;
		}
		&__root {
			width: 84vw;
			margin-bottom: 2.8rem;
			&__image {
				& > img {
					width: 98%;
					height: 98%;
					&:active {
						transform: scale(1.1);
					}
				}
			}
			&__desc {
				&__title {
					font-size: 1.4rem;
				}
				&__subtitle {
					font-size: 1rem;
				}
				&__link {
					width: 63%;
					& > a {
						margin: 0.7rem 0 0.7rem 0;
						font-size: 0.7rem;
						border-radius: 1.4rem;
						padding: 0.3rem;
					}
				}
				&__icons {
					object-fit: cover;
					width: 100%;
					@include flex(row, space-evenly, center);
					& > img {
						height: 1.9rem;
						width: 1.9rem;
					}
				}
			}
		}
	}
}

//  425 and Below  ===================================================================================
@include respond(425) {
	.projects {
		padding: 0.7rem;
		&__title {
			font-size: 2.2rem;
			margin-top: 1rem;
		}
		&__root {
			@include flex(column-reverse, none, center);
			width: 98vw;
			height: 91vh;
			margin-bottom: 2.8rem;
			&__image {
				width: 91%;
				& > img {
					width: 98%;
					height: 98%;
					&:active {
						transform: scale(1.1);
					}
				}
			}
			&__desc {
				width: 91%;
				&__title {
					font-size: 1.4rem;
				}
				&__subtitle {
					font-size: 1rem;
				}
				&__link {
					width: 63%;
					& > a {
						margin: 0.7rem 0 0.7rem 0;
						font-size: 0.7rem;
						border-radius: 1.4rem;
						padding: 0.3rem;
					}
				}
				&__icons {
					object-fit: cover;
					width: 100%;
					@include flex(row, space-evenly, center);
					& > img {
						height: 1.9rem;
						width: 1.9rem;
					}
				}
			}
		}
	}
}

//  320 and Below  ===================================================================================
@include respond(320) {
}
