@import '../abstract/mixins';

.skills {
	width: 100%;
	padding: 1.4rem;
	background-image: url('https://ucarecdn.com/b47dff7a-ed80-4b2a-9f59-182a4439d0e5/CardBG.svg');
	background-position: center;
	background-size: cover;
	&__title {
		font-size: 2.8rem;
		margin-bottom: 1rem;

		font-weight: 500;
		white-space: nowrap;
		animation: nameEaseIn 3s ease-in-out 0.1s;
	}
	&__grid {
		display: grid;
		grid-template-columns: repeat(5, 2fr);
		grid-template-rows: repeat(2, auto);
		align-items: center;
		row-gap: 2.8rem;
		column-gap: 1.4rem;
		&__icons {
			border: 1px solid #ff58a69a;
			border-radius: 1.4rem;
			padding: 1.4rem;
			@include glass();
			@include flex(row, space-evenly, center);
			&:hover {
				box-shadow: 0 0.3rem 0.5rem #00000050;
			}
			& > img {
				height: 3.5rem;
				width: 3.5rem;
			}
			& > h6 {
				font-size: 1.4rem;
				font-weight: 500;
				white-space: nowrap;
			}
		}
	}
}

//  768 and Below ===================================================================================
@include respond(768) {
	.skills {
		padding: 1.3rem;
		&__title {
			font-size: 2.2rem;
			margin-bottom: 2.2rem;
		}
		&__grid {
			grid-template-columns: repeat(3, auto);
			grid-template-rows: repeat(3, auto);
			row-gap: 2.2rem;
			column-gap: 1rem;
			&__icons {
				padding: 1.8rem;
				@include glass();
				@include flex(row, space-evenly, center);
				& > img {
					height: 3.3rem;
					width: 3.3rem;
				}
				& > h6 {
					font-size: 1.2rem;
				}
			}
		}
	}
}

//  425 and Below  ===================================================================================
@include respond(425) {
	.skills {
		padding: 1.2rem;
		&__title {
			font-size: 2.2rem;
			margin-bottom: 2.2rem;
		}
		&__grid {
			grid-template-columns: repeat(2, auto);
			grid-template-rows: repeat(2, auto);
			row-gap: 2.2rem;
			column-gap: 1rem;
			&__icons {
				padding: 1.1rem;
				@include glass();
				@include flex(row, space-evenly, center);
				& > img {
					height: 3.2rem;
					width: 3.2rem;
				}
				& > h6 {
					font-size: 1.1rem;
				}
			}
		}
	}
}

//  320 and Below  ===================================================================================
@include respond(320) {
	.skills {
		padding: 0.2rem;
		&__title {
			font-size: 2rem;
			margin-bottom: 2rem;
		}
		&__grid {
			grid-template-columns: repeat(2, auto);
			grid-template-rows: repeat(2, auto);
			row-gap: 0.7rem;
			column-gap: 0.6rem;
			&__icons {
				padding: 0.5rem;
				@include glass();
				@include flex(row, space-evenly, center);
				& > img {
					height: 3rem;
					width: 3rem;
				}
				& > h6 {
					font-size: 1rem;
				}
			}
		}
	}
}
