@import "../abstracts/mixins";
@import "../abstracts/variables";

.proj {
  height: 84vh;
  width: 98vw;

  @include flex(column, center, center);
  &__root {
    height: 49vh;
    width: 77vw;

    // background-image: url("../../public/card.svg");
    // background-position: center;
    // background-size: cover;
    @include flex(row, space-between, center);
    &__left,
    &__right {
      height: 100%;
      width: 50%;

      object-fit: cover;
      font-weight: 400;
      text-align: center;
      @include flex(column, center, center);
      &__name {
        font-weight: 500;
        font-size: 4.2rem;
      }
      &__live {
        margin-top: 2.1rem;
        text-decoration: none;
        font-size: 1.4rem;
        border-radius: 2.1rem;
        background-color: #f5f3f3;
        color: #ee6d85;
        padding: 0.7rem;
        transition: all ease-in 0.1s;
        &:hover {
          background-color: #f0f0f0;
          color: #ec5974;
          transform: translateY(-0.1rem);
        }
      }
      &__desc {
        font-size: 2.8rem;
        color: #777;
      }
      &__tech {
        font-size: 1.7rem;
      }
    }
  }

  &__hr {
    width: 91vw;
    height: 0.1rem;

    margin-top: 7rem;
    background-color: #555;
  }
}
