@import "../abstracts/mixins";
@import "../abstracts/variables";

.about {
  height: 86vh;
  width: 100vw;

  background-image: url("../../assets/about.svg");
  background-position: center;
  background-size: cover;
  padding: 2.8rem;
  @include flex(column, flex-start, flex-start);
  &__root {
    height: 56vh;
    width: 77vw;

    margin: 2.8rem 0 0 2.8rem;
    @include flex(row, space-between, center);
    &__left {
      width: 75%;
      height: 100%;

      font-size: 2.1rem;
      @include flex(column, center, flex-start);
      &__name {
        font-size: 4.2rem;
        animation: nameEaseIn 3s ease-in-out 0.1s;
      }
      &__title {
        font-size: 2.1rem;
        font-weight: 500;
        color: #ee3d5d;
      }
      &__quote::before {
        content: "\201C";
        color: #ee6d85;
        font-size: 2.8rem;
      }
      &__quote::after {
        content: "\201D";
        color: #ee6d85;
        font-size: 2.8rem;
      }
      &__quote {
        margin-top: 0.7rem;
        font-size: 1.7rem;
        border-left: 0.4rem solid #ee3d5d;
        text-indent: 2.1rem;
        font-family: "Fira Sans", sans-serif;
      }
      &__icons {
        width: 49%;
        height: 7vh;

        margin-top: 2.1rem;
        transition: all 0.2s ease-in;
        @include flex(row, space-between, center);
        & > a:hover {
          transform: translateY(-0.1rem);
        }
      }
    }
    &__right {
      width: 25%;
      height: 100%;

      object-fit: cover;
      @include flex(column, center, flex-start);
      & > img {
        max-width: 100%;
        max-height: 100%;
        border-radius: 50%;
      }
    }
  }
}

//=================================================================
// < 900 => Tablet Potrait
//=================================================================
@include respond(tab-port) {
  .about {
    &__root {
      height: 63vh;
      margin: 2.8rem 0 0 0;
      &__left {
        &__name {
          font-size: 4.4rem;
        }
        &__title {
          font-size: 2.4rem;
        }
        &__quote {
          font-size: 2rem;
        }
        &__icons {
          width: 63%;
        }
      }
      &__right {
        & > img {
          max-width: 84%;
          max-height: 84%;
        }
      }
    }
  }
}

//=================================================================
// < 600 => Mobile
//=================================================================
@include respond(phone) {
  .about {
    &__root {
      height: 63vh;
      width: 91vw;

      margin-top: 0.7rem;
      @include flex(row, center, center);
      &__left {
        width: 91%;

        @include flex(column, center, center);
        &__title {
          font-weight: 500;
          font-size: 2.8rem;
        }
        &__name {
          font-size: 4.9rem;
        }
        &__quote {
          font-size: 1.9rem;
          height: 10vh;
          text-align: center;
          font-weight: 600;
        }
        &__icons {
          width: 91%;
          height: 12vh;
        }
      }
      &__right {
        display: none;
      }
    }
  }
}
