*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

/* Scrollbar ==== */
::-webkit-scrollbar {
	width: 0.7rem;
	height: 0.7rem;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f7f6f9;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #b8b8b8;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #929292;
}